body {
  font-family: 'Arima Madurai', cursive;
  margin: 0 auto;
  background-color: rgba(255, 214, 51,.19);
}
.widgets {
  position: absolute;
  right: 0px;
  padding-top: 30px;
  margin-right: 50px;
}
.fa {
  font-size: 50px;
  width: 40px;
  text-align: center;
  margin: 5px 2px;
  padding-right: 20px;
}
header {
  text-align: center;
  background: url("https://raw.githubusercontent.com/silcap/silcap.github.io/master/pictures/background_proposal.jpg");
  background-size: cover;
  margin: 0 auto;
}
a {
  color: white;
  font-size: 15px;
  font-family: 'Arima Madurai', cursive;
  font-style: normal;
}
div {
  height: 250px;
  border-radius: 20px;
  background-size: cover;
  position: relative;
  margin: auto;
  max-width: 700px;
  margin-bottom: 40px;
}
img {
  margin: 30px;
  border: 7px solid white;
  border-radius: 100px;
  width: 15%
}
ul {
  padding: 15px;
  background: rgba(153, 102, 102,0.8);
  font-family: 'Arima Madurai', cursive;
  font-size: 17px;
  color: white;
}
li {
  display: inline;
  padding: 15px 25px 15px 25px;
  color: white;
}
.homepar {
  color: rgba(255,255,255,1);
  background-color: rgb(153, 102, 102);
  background: linear-gradient(to right, rgba(153, 102, 102, .3), rgba(153, 102, 102, .85));
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 45px;
  text-align: center;
  line-height: 30px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
}
.partira {
  color: rgba(255,255,255,1);
  background-color: rgb(153, 102, 102);
  background: linear-gradient(to right, rgba(153, 102, 102, .5), rgba(153, 102, 102, 1));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  max-width: auto;
}
.food1{
  background-image: url("https://gbc-cdn-public-media.azureedge.net/img57462.768x512.jpg");
  background-position: center;
}
.food2{
  background-image: url("https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/perfect-pad-thai.jpg?itok=Bi63qQL4");
}
.food3{
  background-image: url("https://c1.staticflickr.com/5/4692/38579292685_69d444c452_b.jpg");
  background-position: center;
}
.Description{
background-image: url("https://image.dhgate.com/0x0/f2/albu/g5/M00/2A/B3/rBVaJFhGEXmAICTdAACGI7lYmUw672.jpg");
}
.Method{
background-image: url("https://image.dhgate.com/0x0/f2/albu/g5/M00/2A/B3/rBVaJFhGEXmAICTdAACGI7lYmUw672.jpg")
}
.Ingredients{
background-image: url("https://image.dhgate.com/0x0/f2/albu/g5/M00/2A/B3/rBVaJFhGEXmAICTdAACGI7lYmUw672.jpg")
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 60px;
  font-style: oblique;
  color: pink;
}
h3{
  font-size: 40px;
  font-style: oblique;
  color: black;
}
img {
  margin: 30px;
  border: 7px solid white;
  border-radius: 100px;
  width: 15%
}
ul {
  padding: 15px;
  background: rgba(153, 102, 102,0.8);
  font-family: 'Arima Madurai', cursive;
  font-size: 17px;
  color: white;
}
li {
  display: inline;
  padding: 15px 25px 15px 25px;
  color: white;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}

/*Silvia*/
.largetiramisu {
  max-width: 700px;
  background-image: url("https://www.seriouseats.com/recipes/images/2017/06/20170526-tiramisu-vicky-wasik-41-1500x1125.jpg");
  background-position: center;
  height: 350px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.container {
  max-width: 700px;
}
.ingredientscolumn {
  float: left;
  max-width: 180px;
}
.methodcolumn {
  float: right;
  max-width: 480px;
}
.headertira1 {
  color: rgb(153, 102, 102);
  font-style: normal;
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 1px;
  text-indent: 30px;
  padding-top: 20px;
}
.headertira2 {
  color: rgb(153, 102, 102);
  font-style: normal;
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 1px;
  text-align: justify;
}
.headertira3 {
  color: rgb(153, 102, 102);
  font-style: normal;
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 1px;
  text-align: justify;
  text-indent: 15px;
}
.details {
  color: rgb(153, 102, 102);
  display: block;
  text-indent: 10px;
  padding-top: 1px;
  padding-bottom: 0px;
  letter-spacing: -.5px;
  text-shadow: 2px 2px 4px white;
}
.timeline {
  float: right;
  margin-right: 35px;
  margin-top: 15px;
}
footer {
  text-align: center;
  color: rgb(153, 102, 102);
  padding-bottom: 30px;
}



Header{text-align: center;
background: url(https://raw.githubusercontent.com/silcap/silcap.github.io/master/pictures/background_proposal.jpg) 0% 0% / cover;
margin: auto;
box-sizing: border-box;

}
img{idth: 15%;
    margin: 30px;
    border-width: 7px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 100px;

  }
img {vertical-align: middle;
   box-sizing: border-box;
}

table{font-size:  20px;
     text-align: ;
     width: auto;

}


.Description{background-image: url(https://www.torani.com/sites/all/themes/toranimain/images/products/background.jpg);
    text-align: center;
  }

  h2 { font-style: normal;
  font-family: fantasy;}
  p {font-style: italic;
}
div {
  height: 200px;
      background-size: cover;
      position: relative;
      max-width: 900px;
      border-radius: 15px;
      margin: auto auto 40px;
      box-sizing: border-box;
}



.Method{background-image:url(https://www.torani.com/sites/all/themes/toranimain/images/products/background.jpg);
  text-align: center;
}

.Tip{
  text-align: center;
}
